header {
    background-color:black;
}

body {
    background-color: rgb(70, 49, 10);
}

div {
    display: flex;
    display:inline-block;
    justify-content: space-between;
    padding: 2%;
    border-style: solid;
    border-radius: 9px;
    border-width: 1px;
    border-color: rgb(211, 137, 0);
}

section {
    display: flex; 
    flex-direction: column;
}
